.burger-btn {
    border: 2px solid var(--text-color);
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 20px;
    top: 40px;
    display: none;
    box-sizing: content-box;
    background-color: #0C002B;
    z-index: 500;
    
    &__line {
        position: absolute;
        border: 1px solid var(--text-color);
        width: 50%;
        left: 50%;
        transform: translateX(-50%);

        &:nth-child(1){
            top: 12px;
        }

        &:nth-child(2){
            top: 50%;
        }

        &:nth-child(3){
            top: 28px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .burger-btn {
        display: block;
    }
}