
.home {
    background-color: #000000bb;
    animation-name: fade;
    animation-duration: 3s;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 94vh;
    justify-content: center;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    color: #fff;
    max-width: 1600px;
    margin-bottom: 3rem;
    font-size: 5rem;
    justify-content: start;
    line-height: 120%;
    box-sizing: border-box;
    padding: 0 1rem;
}

.header__logo-name {
    display: flex;
    align-items: center;
    gap: 2rem;
}    

.header__logo{
    width: 90px;
    height: 100px;
}

.header__name {
    font-size: 6rem;
    display: inline;
    font-weight: 100;
}

.home__button {
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.8rem 4rem;
    transition: all .1s;
}

.home__button:hover {
    transform: scale(1.1);
}

.home__button:active {
    transform: scale(1);
}

.header, .home__button {
    animation-name: fadeIn;
    animation-duration: 3s;
}

@keyframes fadeIn {
    from {
        transform: scale(0.6);
    }
    to {
        transform: scale(1);
    }
}

@keyframes fade {
    from {
        opacity: 0;;
    }

    to {
        opacity: 1;
    }
}

/*================== Media Querys =============== */

@media only screen and (max-width: 768px){
    .home {
        display: flex;
        justify-content: space-between;
        height: 100vh;
        
    }

    .header {
        position: relative;
        max-width: 768px;
        justify-content: space-between;
        box-sizing: border-box;
        padding-top: 1.5rem;


        &__name {
            line-height: 120%;
            font-size: 4rem;
            margin-right: 50px;
        }

        &__logo {
            height: 60px;
            width: 60px;
        }

        &__subtitle {
            font-size: 3rem;
            margin-top: 5rem;
            line-height: 120%;
        }

    }


    .home__button:hover {
        transform: none;
    }

    .home__button:active {
        transform: scale(1.1);
    }

    .home__button {
        margin: 0 auto 2rem;
        font-size: 1.5rem;
        color: #DB1A6A;
        border-color: #DB1A6A;
    }
    
}

@media only screen and (max-width: 480px) {
    .header {

        &__name {
            line-height: 120%;
            font-size: 2.5rem;
        }

        &__subtitle {
            margin-top: 10rem;
            font-size: 2rem;
        }
    }
}