.navbar__select-toggle {
    align-items: center;
    display: flex;
    gap: 2rem;

    .css-qc6sy-singleValue {
        color: #fff;
    }

    .css-1pahdxg-control,
    .css-1s2u09g-control {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    .css-319lph-ValueContainer,
    .css-tlfecz-indicatorContainer,
    .css-1gtu0rj-indicatorContainer {
        padding: 0;
    }

    .css-tlfecz-indicatorContainer {
        color: var(--primary-color)
    }

    .css-1gtu0rj-indicatorContainer {
        color: #420A1A;
    }

    .css-2613qy-menu {
        border: none;
    }

    .css-1okebmr-indicatorSeparator {
        display: none;
    }   

}

.navbar__toggle--text {
    font-size: 1.3rem;
    margin: 3px .5rem 0;
}

.navbar__toggle--dark {
    border-radius: 50%;
    outline: 2px solid var(--primary-color);
    padding: 6px;
}
/*============== Media Querys =============*/

@media only screen and (max-width: 768px) {
    .navbar__select-toggle {
        margin-top: 2rem;
        flex-direction: column;

        .css-qc6sy-singleValue {
            font-size: 1.5rem;
        }
    
    }   
}