.subtitle,
.social {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--light-text);
}

.social {
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.social__medias {
    display: flex;
    align-items: flex-end;
    gap: .3rem;
}

.link {
    text-decoration: none;
    color: var(--secondary);
    font-weight: 600;
}

.form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 768px;
    margin:2rem auto 0;

    &__title {
        color: var(--primary);
        width: 100%;
        margin-bottom: .6rem;
    }

    &__label {
        width: 100%;
        color: var(--light-text);
        margin-bottom: .3rem;
        display: flex;
        flex-direction: column;

        &:nth-child(-n+3) {
            width: 48%;
        }
    }

    &__submit {
        border: 3px solid var(--primary);
        background-color: transparent;
        color: var(--primary);
        width: 100%;
        padding: .5rem 3rem;
        font-size: 1.3rem;
        font-family: 'Varela Round', sans-serif;
        border-radius: .3rem;
        cursor: pointer;
    }
}

.input {
    margin-bottom: 1rem;
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 0.3rem;
    padding: 0.7rem 0.5rem;
    color: var(--light-text);
    resize: none;

    &::placeholder {
        font-family: 'Varela Round', sans-serif;
    }
}

.copyright {
    margin: 8rem auto 0;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .social {
        flex-wrap: wrap;
    }

    .subtitle__h3 {
        color: var(--secondary);
    }

    .form__label {
        &:nth-child(-n+3) {
            width: 100%;
        }
    }

}