.quote {
	line-height: normal;
	display: block;
	text-align: center;
	font-size: 20px;
}

.careers-edu {
	max-width: 1200px;
	margin: 4rem auto 0;
}

.section-careers {
	border-bottom: 2px solid gray;
}

.section-careers, 
.section-education {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	padding-bottom: 3rem;
	max-width: 1200px;
	margin: 2rem auto 0;
	gap: 2rem;
}

.job-wrapper,
.course-wrapper {
	
	max-width: 13rem;
	
	&__job,
	&__course {
		color: #DB1A6A;
	}

	&__time {
		margin-top: 1rem;
		display: block;
	}

}


.org-wrapper {

	max-width: 55rem;

	&__org {
		color: #009ADA;
	}

	&__desc {
		margin-top: 1rem;

	}
}

.education-wrapper{

	max-width: 55rem;

	&__desc {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 768px) {
	.section-careers, .section-education {
		flex-direction: column;
		gap: 1rem;
		max-width: 330px;
	}

	.quote {
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}

	.careers-edu {
		max-width: 400px;
	}
}