.navbar-bg {
   animation-name: fade;
    animation-duration: 3s;
    display: flex;
    justify-content: center;
    max-width: 100%;
    position: sticky;
    top: 0;
    background-color: #000000bb;
}

.navbar {
    animation-name: fade;
    animation-duration: 3s;
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    height: 6vh;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    z-index: 100;
}

.navbar {
    width: 1600px;
}

.navbar__wrapper {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.navbar__logo {
    width: 2rem;
}

.navbar__link {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
}

.navbar__link:hover {
    color: #DB1A6A;
    transition: color .5s;
}

.navbar__select-toggle {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.navbar__select {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar__select option {
    color: black;
}

.navbar__toggle {
    align-items: center;
    border: 2px solid #DB1A6A;
    background-color: rgba(220, 20, 60, 0.3);
    border-radius: 3rem;
    color: #DB1A6A;
    cursor: pointer;
    display: flex;
}

.navbar__toggle--text {
    font-size: 1.3rem;
    margin-right: 0.5rem;
    margin-top: 3px;
    margin-left: 0.5rem;
}

.navbar__toggle--dark {
    border-radius: 50%;
    outline: 2px solid #DB1A6A;
    padding: 6px;
}

@keyframes fade {
    from {
        opacity: 0;;
    }

    to {
        opacity: 1;
    }
}

/*============== Media Querys =============*/

@media only screen and (max-width: 768px) {
    .navbar {
        display: none;
    }
}