.quote {
	line-height: normal;
	display: block;
	text-align: center;
	font-size: 20px;
}

.careers-edu {
	max-width: 1200px;
	margin: 4rem auto 0;
}

.section-careers {
	border-bottom: 2px solid var(--links);
}

.section-careers, 
.section-education {
	display: flex;
	padding-bottom: 3rem;
	max-width: 1200px;
	margin: 2rem auto 0;
	gap: 3rem;
}

.job-wrapper,
.course-wrapper {
	
	min-width: 13rem;
	
	&__job,
	&__course {
		color: var(--primary-color);
		margin-bottom: 1rem;
	}
}

.org-wrapper__org {
	color: var(--secondary-color);
	margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
	.section-careers, 
	.section-education {
		flex-direction: column;
		gap: 1rem;
		margin-left: 1rem;
	}

	.quote {
		margin-left: auto;
		margin-right: auto;
	}
}