.container {
	animation-name: fadeIn;
	animation-duration: 3s;
	height: 190px;
	position: relative;
	margin: auto;
	width: 200px;
}
.coffee-header {
	background-color: #ddcfcc;
	border-radius: 10px;
	height: 60px;
	left: 0;
	position: absolute;
	top: 0;
	width: 200px;
}
.coffee-header__buttons {
	background-color: #282323;
	border-radius: 50%;
	height: 20px;
	position: absolute;
	top: 15px;
	width: 20px;
}
.coffee-header__buttons::after {
	background-color: var(--primary);
	bottom: -8px;
	content: '';
	height: 8px;
	left: calc(50% - 4px);
	position: absolute;
	width: 8px;
}
.coffee-header__button-one {
	left: 10px;
}
.coffee-header__button-two {
	left: 40px;
}
.coffee-header__display {
	background-color: #009ADA87;
	border: 5px solid var(--secondary);
	border-radius: 50%;
	box-sizing: border-box;
	height: 40px;
	left: calc(50% - 20px);
	position: absolute;
	top: calc(50% - 20px);
	width: 40px;
}
.coffee-header__details {
	background-color: var(--primary);
	box-shadow: -12px 0 0 var(--primary), -24px 0 0 var(--primary);
	height: 20px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 8px;
}
.coffee-medium {
	background-color: #bcb0af;
	height: 115px;
	left: 12.5px;
	position: absolute;
	top: 60px;
	width: 175px;
}
.coffee-medium:before {
	background-color: #776f6e;
	border-radius: 20px 20px 0 0;
	bottom: 0;
	content: '';
	height: 60px;
	position: absolute;
	left: calc(50% - 45%);
	width: 90%;
}
.coffe-medium__exit {
	background-color: #231f20;
	position: absolute;
	height: 20px;
	left: calc(50% - 25px);
	top: 0;
	width: 50px;
}
.coffe-medium__exit::before {
	border-radius: 0 0 50% 50%;
	background-color: #231f20;
	bottom: -20px;
	content: '';
	height: 20px;
	left: calc(50% - 20px);
	position: absolute;
	width: 40px;
}
.coffe-medium__exit::after {
	background-color: #231f20;
	bottom: -30px;
	content: '';
	height: 10px;
	left: calc(50% - 5px);
	position: absolute;
	width: 10px;
}
.coffee-medium__arm {
	background-color: #231f20;
	height: 15px;
	position: absolute;
	top: 17px;
	right: 22px;
	width: 35px;
}
.coffee-medium__arm::before {
	background-color: #9e9495;
	content: '';
	height: 5px;
	left: -10px;
	position: absolute;
	top: 5px;
	width: 10px;
}
.coffee-medium__cup {
	background-color: #fff;
	border-radius: 0 0 70px 70px / 0 0 110px 110px;
	bottom: 0;
	height: 37px;
	left: calc(50% - 30px);
	position: absolute;
	width: 60px;
}
.coffee-medium__cup::after {
	border: 5px solid #fff;
	border-radius: 50%;
	content: '';
	height: 10px;
	position: absolute;
	right: -10px;
	top: 6px;
	width: 10px;
}
@keyframes liquid {
	0% {
		height: 0px;
		opacity: 1;
	}
	5% {
		height: 0px;
		opacity: 1;
	}
	20% {
		height: 62px;
		opacity: 1;
	}
	95% {
		height: 62px;
		opacity: 1;
	}
	100% {
		height: 62px;
		opacity: 0;
	}
}
.coffee-medium__liquid {
	animation: liquid 4s 4s linear infinite;
	background-color: #74372b;
	position: absolute;
	left: calc(50% - 3px);
	opacity: 0;
	top: 50px;
	width: 6px;
}
.coffee-medium__smoke {
	border-radius: 5px;
	background-color: #b3aeae;
	height: 10px;
	position: absolute;
	width: 5px;
}
@keyframes smokeOne {
	0% {
		bottom: 10px;
		opacity: 0;
	}
	40% {
		bottom: 20px;
		opacity: 0.5;
	}
	80% {
		bottom: 40px;
		opacity: 0.3;
	}
	100% {
		bottom: 40px;
		opacity: 0;
	}
}
@keyframes smokeTwo {
	0% {
		bottom: 30px;
		opacity: 0;
	}
	40% {
		bottom: 40px;
		opacity: 0.5;
	}
	80% {
		bottom: 50px;
		opacity: 0.3;
	}
	100% {
		bottom: 50px;
		opacity: 0;
	}
}
.coffee-medium__smoke-one {
	animation: smokeOne 3s 4s linear infinite;
	bottom: 50px;
	left: 110px;
	opacity: 0;
}
.coffee-medium__smoke-two {
	animation: smokeTwo 3s 5s linear infinite;
	bottom: 70px;
	left: 95px;
	opacity: 0;
}
.coffee-medium__smoke-three {
	animation: smokeTwo 3s 6s linear infinite;
	bottom: 65px;
	opacity: 0;
	right: 94px;
}
.coffee-medium__smoke-for {
	animation: smokeOne 3s 5s linear infinite;
	bottom: 50px;
	opacity: 0;
	right: 107px;
}
.coffee-footer {
	background-color: var(--secondary);
	border-radius: 10px;
	bottom: 0px;
	height: 15px;
	left: 6px;
	position: absolute;
	width: 187.5px;
}