/* Reset Styles */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Varela Round', sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

:root {
	--light-bg: #fff;
	--light2-bg: #F5F5F5;
	--dark-bg: #0C002B;
	--dark2-bg: #110239;
	--full-dark: #000;
	--primary-style-color: #DB1A6A;
	--secondary-style-color: #009ADA;
	--view-more-text: #777777;
}

.img-bg {
    height: 100vh;
    object-fit: cover;
    position: absolute;
    width: 100%;
	z-index: -1;
}

.background-color {
	background-color: var(--dark-bg);
	
	&:nth-child(2n) {
		background-color: var(--dark2-bg) ;
	}

	&:last-child {
		background-color: var(--full-dark);
	}
}


.section {
	color: var(--light-bg);
    padding: 5rem 1rem;
    max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
	line-height: 140%;
}

h2 {
    font-size: 2.3rem;
    font-weight: 800;
    position: relative;
	text-align: center;
	margin-bottom: 5rem;
	
    &::before {
        content: '';
        position: absolute;
		left: 50%;
		transform: translateX(-50%);
        top: 2rem;
        width: 4rem;
        border-bottom: 0.2rem solid var(--primary-style-color);
    }
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 20px;
}

p {
	font-size: 16px;
}

html {
	scroll-behavior: smooth;
}

/* ================Media Querys=============== */

@media only screen and (max-width: 768px) {
	
	.section {
		max-width: 700px;
	}
}
