/* Reset Styles */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Varela Round', sans-serif;
	line-height: 1;
	background-color: var(--bg-color2) ;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

:root {
	--home-contact-text: #fff; 
}

:root[data-color-theme=dark] {
	--text-color: #fff;
	--bg-color1: #0C002B;
	--bg-color2: #110239;
	--dark: #000;
	--primary-color: #DB1A6A;
	--secondary-color: #009ADA;
	--links: #777777;
}

:root[data-color-theme=light] {
	--text-color: #000;
	--bg-color1: #fff;
	--bg-color2: #F5F5F5;
	--dark: #000;
	--primary-color: #DB1A6A;
	--secondary-color: #009ADA;
	--links: #777777;
}

.bg-color2 {
	background-color: var(--bg-color1);
}

.footer-wrapper {
	color: var(--home-contact-text);
	background-color: var(--dark);
}

.theme {
	opacity: 0;
    visibility: hidden;

	&--animation {
		opacity: 1 !important;
		visibility: visible !important;
		transition: all 500ms linear;
	}
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 20px;
}

p {
	font-size: 16px;
}

p, span {
	line-height: 120%;
}

html {
	scroll-behavior: smooth;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}