/* Reset Styles */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: var(--bg-color1) ;
    font-family: 'Varela Round', sans-serif;
	line-height: 1;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		background-color: var(--bg-color2);
		width: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background-color:var(--secondary) ;
		border-radius: 5px;
	}
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

:root {
	--light-text: #fff; 
}

:root[data-color-theme=dark] {
	--text-color: #fff;
	--bg-color1: #0C002B;
	--bg-color2: #110239;
	--dark: #000;
	--primary: #DB1A6A;
	--secondary: #009ADA;
	--links: #777777;
	--modal:  #111111;
}

:root[data-color-theme=light] {
	--text-color: #000;
	--bg-color1: #fff;
	--bg-color2: #F5F5F5;
	--dark: #000;
	--primary: #DB1A6A;
	--secondary: #009ADA;
	--links: #777777;
	--modal:  #eeeeee;
}

.theme {
	opacity: 0;
    visibility: hidden;

	&--animation {
		opacity: 1 !important;
		transition: all 500ms linear;
		visibility: visible !important;
	}
}

@keyframes fadeToLeft {
    from {
        opacity: 0;
        transform: translateX(40%);
    }
    to {
		opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeToRight {
    from {
        opacity: 0;
        transform: translateX(-40%);
    }
    to {
		opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeExit {
    from {
        opacity: 1;
		transform: translateX(0);
    }
    to {
		opacity: 0;
		transform: translateX(20%);
    }
}

@keyframes fadeIn {
    from {
        transform: scale(0.6);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}